.reviews-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 80px 50px;
}

@media screen and (max-width: 688px) {

    .reviews-container {
        grid-template-columns: 1fr;
    }
}