.product-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.written-container {
    margin-left: 180px;
    align-items: center;
    justify-content: center;
    margin-top: 280px;
}

.written-container h1 {
    font-size: 70px;
    font-weight: 900;
}

.written-container h5 {
    margin-top: 25px;
    margin-left: 25px;
    text-align: justify;
}

.console {
    background: linear-gradient(to right, #eb1c1c, #daba05);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.qwerty {
    background: linear-gradient(to right, #328b05, #F84F38);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home-btn {
    margin-top: 25px;
    margin-right: 508px;
    padding: 20px 40px;
    border: none;
    color: rgb(26, 70, 230);
    font-size: 17px;
    font-weight: 700;
    border-radius: 10px;
    background-color: rgb(204, 211, 218);
}

.home-btn:hover {
    background-image: linear-gradient(to right, #3437cc, #23dff0);
    color: white;
}

.img-container img {
    border-radius: 10px;
    margin-top: -50px;
}

@media screen and (max-width: 688px) {

    .product-container {
        grid-template-columns: 1fr;
    }
}